{% load static %}
{% load customfilter %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>

      <h1>FASTA file expression search</h1>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">From Multisequence File</a></li>
        <li><a href="{% url 'uniprot' %}">From Uniprot</a></li>
        <li><a href="{% url 'ncbi' %}">From NCBI</a></li>
      </ul>
      <br>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <input type="file" name="document" class="form-control-file" required>
        </div>
        <div class="form-group">
          <label for="expr">Enter String: </label>
          <input type="text" name="expression" id='expr' class="form-control">
        </div>
        <div class="form-group">
          Or
        </div>
        <div class="form-group">
          <label for="regex">Enter Regular Expression: </label>
          <input type="text" name="regex" id='regex' class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="output" style="padding:1%;">
        {% if posted %}
          {% if zipped %}
            <p>Total No. of sequences in the file: {{length}}</p>
            <p>No. of sequences matched: {{no_of_matches}}</p>
            <ul>
              {% for item in zipped %}
                <li>
                Title: {{ item.0}}<br>Location: {{ item.1 }}<br>
                <a href = '#{{item.5}}' data-toggle="collapse">Gene Sequence</a>
                <div id='{{item.5}}' class="collapse" style=" overflow-wrap: break-word; word-wrap: break-word;">
                  {{ item.3|highlight:item.4}}
                </div>
                {% with ''|add:item.2 as imagePath %}
                <img src='{% static imagePath %}' style="width: 100%;"/>
                {% endwith %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No matches</p>
          {% endif %}
        {% endif %}
      </div>

  </body>
</html>
